{% extends 'layouts/base.html' %}

{% block header %}
	<h1>About</h1>
{% endblock header %}

{% block content %}
    <p>This section would be editable by the user. Giving a high level overview of the scenario</p>

    <h2 class="mt-4">Background</h2>

    <p>This section would be a longer background on the patient - their story.</p>

    <p>Patient, a 73-year-old white male, had normal or near-normal blood counts in all periodic tests through early December 2017, but has had pancytopenia since at least late January 2018. Patient experienced painful swelling in right foot starting mid-January. On January 18, primary care doctor diagnosed an infection and prescribed Cefadroxil antibiotic. Over next few days, foot became more swollen with a large deep-red/purple patch on top of foot. On January 22, doctor increased dosage of Cefadroxil, added a second antibiotic (Sulfamethoxazole-trimethoprim), and ordered blood tests. Because blood tests revealed very low platelet and white blood cell (WBC) counts, patient went to emergency room and was admitted to hospital.</p>

    <p>The initial diagnosis was that the low counts resulted from one or more medications patient had been taking. Cefadroxil and Methazolamide were identified as the primary suspects. Aplastic anemia was also suspected, but was ruled out by pathologist during hospital stay. Tests also ruled out cancer. Patient stayed in hospital for 30 days, had periodic transfusions of platelets and red blood cells (RBCs), but platelet, RBC, and WBC counts never increased to normal range. Hospital doctors continued to believe that one or more medications caused the problem. The patient was discharged from hospital on February 21 and had thrice-weekly blood draws and additional transfusions as required. However, there was no improvement.</p>

    <p>Because blood counts continued to remain at unsafe levels without intervention (transfusions and increased doses of prednisone), doctors finally abandoned the hypothesis that a halt in the use of suspect medications would lead to a gradual return to normalcy. On April 2, they settled on a diagnosis of aplastic anemia--a rare autoimmune disorder in which the body's bone marrow fails to produce enough new RBCs, WBCs, and platelets.</p>

    <p>Based on recommendation of outside expert, the next step was to go to the National Institutes of Health (NIH) on May 1 to confirm the diagnosis, be evaluated for participation in a clinical trial, and begin treatment. The treatment began on May 3 and focused on the administration of three drugs: horse antithymocyte globulin (h-ATG), cyclosporine, and eltrombopag. The first two are meant to suppress the immune system; the third is intended to stimulate the bone marrow.</p>
{% endblock content %}