{% extends 'layouts/base.html' %}
{% load bootstrap4 %}

{% block title %}<title>Link Invalid</title>{% endblock %}

{% block content %}
 <div class="container border rounded mt-5">
   <br>
  <h4 align="center" style="color: black">Invalid Activation Link</h4> 
    

    <div class="row justify-content-center">
      <div class="col text-center mt-5">  <h5 style="color: black">{{response}}</h5> </div>
        
    </div>
   
      
   
                        
<br>
  
</div>
<br>

{% endblock %}