{% extends 'layouts/base.html' %}
{% block title %}<title>Login</title>{% endblock %}
{%load static%}

{% load bootstrap4 %}  

    {% block content %}
    {% if user.is_authenticated %}
    <h4 class="container mt-5" style="color:black; text-align:center; max-width: 575.98px" id="ellipses">You are logged in. Redirecting</h4>
    <script>
    $('#ellipses').delay(500).queue(function (next) {
            $(this).append('.');
            next();
    });
    $('#ellipses').delay(750).queue(function (next) {
            $(this).append('.');
            next();
    });
    $('#ellipses').delay(1000).queue(function (next) {
            $(this).append('.');
            next();
    });
  setTimeout(function () {
      window.location.href = "{% url 'home'%}"; 
   }, 2000); 
   </script> 
    {% else %}
    <div class="container p-4 mt-4" style="text-align:center; max-width: 575.98px">
        <br>
        <h4 style="color:black">Log in</h4><br>
            <form method="post">
                {% csrf_token %}
                
                {% bootstrap_form form layout='inline' %}
                <div class="row justify-content-center">
                <a class="col-6" href="{% url 'signup' %}">Create Account</a><br>
                

                <a class="col-6" href="{% url 'password_reset' %}">Forgot password?</a>
                <button class="tt-button" type="submit">Login</button>
                
            </div>
            </form></div>
            {% endif %}
    {% endblock content %}

$('#ellipses').append('.').delay(250);