
{% autoescape off %}
Hi, 
<p>You are receiving this e-mail because you recently requested access to the DAI Grants Application Portal. If you did not request access, please ignore this e-mail.</p>
<p>Your username is: <b>{{username}}</b></p>
<p><h3><a href="http://www.dai-global-grants.com{% url 'activate' uidb64=uid token=token %}">Click here to confirm your registration and activate your account.</a></h3></p>
<p>Thank you for registering to use the <b>DAI Grants Application Portal</b>. To unsubscribe, please contact a system administrator.</p>
<br>

{% endautoescape %}