{% extends 'layouts/base.html' %}
{% load bootstrap4 %}


{% block title %}<title>Email Sent</title>{% endblock %}

{% block content %}
<div class="container text-center justify-content-center mt-4">
  	<h1>Thank you!</h1>
  	<p class=mt-4>We've emailed you instructions for resetting your password. You should receive the email shortly! Please check your junk/spam folder if you do not receive an e-mail within the next five minutes. If you're still having problems, please contact a system administrator.</p>
</div>
{% endblock %}